#Logo img {
    width: 50px;
}
#Ecriture h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
#Ecriture p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Ecriture2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
#Ecriture2 p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}