                                         /*Partie Header*/
/* Style général (optionnel) */
header {
    padding: 10px;
    background: #00a97a;
    height: 70px;
}
#Bandeau1 {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.menu ul a{
    display: flex;
    display: block;
    text-decoration: none;
    color: black;
    display: inline-block;
    align-items: center;
    height: 70px;
    font-family: 'Poppins', sans-serif;
}
#Professionnels {
    border-left: 1px solid #eff3f1;
    border-right: 1px solid #eff3f1;
    padding: 20px;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
}
#Particuliers {
    border-left: 1px solid #eff3f1;
    padding: 20px;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;  
}
#Particuliers:hover {
  background-color: #0fb88a;
  color: #fff;
  box-shadow: inset 0 -3px 0 rgba(255,255,255,0.35);
  transform: translateY(-1px);
}
#Professionnels:hover {
  background-color: #0fb88a;
  color: #fff;
  box-shadow: inset 0 -3px 0 rgba(255,255,255,0.35);
  transform: translateY(-1px);
}
#Bandeau1 a[href="Particuliers.html"]:hover ~ #BandeauPart {
    display: block;
    background-color: #074735;
}
#Bandeau1 a[href="Professionnels.html"]:hover ~ #BandeauPro {
    display: block;
}
#LogoAccueil {
    width: 80px;
}
#MonCompteLogo {
    width: 60px;
    margin-bottom: -5px;
}
#MonCompte {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    margin-top: -20px;
}
#MonCompte:hover {
    color: #fff;
    transform: translateY(-1px);
}
                                        /*Partie footer Haut */
body {
    margin: 0;
    padding: 0;
    height: 500vh;
}                                 
                                       /*Partie footer Haut */
#top_footer {
    display: flex;  
    justify-content: flex-start;
    background-color: #eff3f1;
    height: 300px;
    margin: 0;
    
}
#Reseaux_sociaux {
    background-color: #00a97a;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    width: 250px;
    flex-direction: column;
    gap: 10px;
    height: 450px;
}
#Logo img{  
    width: auto;  
}
#Logo {   
    display: flex;  
    justify-content: flex-start;         
    gap: 20px;
    background-color: #00a97a;
}
#LogoX img{
    width: 50px;
}
#Logo img:hover {
    transform: scale(1.05);
}
#LogoFacebook img{
    width: 50px   
}

#Ecriture {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#Ecriture h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
#Ecriture p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
#Nous_Contacter {
    align-items: center;
    display: flex;  
    justify-content: flex-start;
    margin-left: 50px;
    flex-direction: column;
    gap: 20px;
    margin-top:75px;
}
#Ecriture2 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}
#Ecriture2 p {
    font-family: 'Poppins', sans-serif;
}
#Contacter {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#Contacter1 {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.btn-contact {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a97a;
    width: 200px; 
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    border: none;       
    gap: 20px;
}
.btn-contact:hover {
    background-color: #074735;
}
                                         /*Partie Footer BAS*/
#lien_utile {
    display: flex;  
    justify-content: center;
    margin-left: 50px;
    gap: 100px;
    background-color: #00a9793c;
    font-family: Georgia, 'Akrobat', Times, serif;
    font-weight: 500;
    margin: 0;
}
.colonne li {
    gap: 100px;
    margin-bottom: 20px;
}
.colonne h4 {
    margin-bottom: 60px;
    margin-left: 37px;
    font-size: 20px;
    font-weight: 800;
}
#information {
    display: flex;  
    justify-content: center;
    margin-left: 50px;
    background-color: #00a9793c;
    margin: 0;
    list-style: none;
    font-weight: 800;
    
}
#barre_navigation {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 50px;

}
#barre_navigation li {
    display: inline-block;
    margin-right: 20px;
    font-family: Georgia, 'Akrobat', Times, serif;
}
li {
    list-style: none;
    display: flex;
}
                                         /*Partie Footer final*/
#parseval {
    display: inline-block;
    display: flex;
    justify-content: space-between;

}
#un {
    font-weight: 600;
    width: 400px;
    margin-left: 20px;
}
#deux {
    font-weight: 600;
    width: 400px;
    text-align: right;
    margin-right: 20px ; 
}

