*{
    margin: 0;
    padding: 0;
}

/************* HEADER *****************/

.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #00a97a;
}


.menu ul a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px;
}

#Bandeau1{
    display: flex;
}

.BandeauPart2, .BandeauPro2{
    display: none;
}

/* Affichage au survol */

/* Quand on survole "Professionnels" */
.BandeauPro:hover .BandeauPro2{
    display: flex;
    background: #2EFFC4;
}

/* Quand on survole "Particuliers" */
.BandeauPart:hover .BandeauPart2{
    display: flex;
    background: #2EFFC4;
}



/************* BODY *****************/


body{
    height: 500vh;
}

#Uper-body{
    padding-block-start: 60px;
    background-color: blue;
    height: 500px;
}

#MainLogo{
    margin-right: 50px;
}

                                        /*Partie footer Haut */
body {
    margin: 0;
    padding: 0;
    height: 500vh;
}                                 
                                       /*Partie footer Haut */
#top_footer {
    display: flex;  
    justify-content: flex-start;
    background-color: #eff3f1;
    height: 300px;
    margin: 0;
    
}
#Reseaux_sociaux {
    background-color: #00a97a;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    width: 250px;
    flex-direction: column;
    gap: 10px;
    height: 400px;
}
#Logo img{  
    width: auto;  
}
#Logo {   
    display: flex;  
    justify-content: flex-start;         
    gap: 20px;
    background-color: #00a97a;
}
#LogoX img{
    width: 50px;
}
#Logo img:hover {
    transform: scale(1.05);
}
#LogoFacebook img{
    width: 50px   
}

#Ecriture {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#Ecriture h1 {
    font-family: Georgia, 'Akrobat', Times, serif;
    font-size: 40px;
}
#Ecriture p {
    font-family: Georgia, 'Akrobat', Times, serif;
    font-size: 20px;
}
#Nous_Contacter {
    align-items: center;
    display: flex;  
    justify-content: flex-start;
    margin-left: 50px;
    flex-direction: column;
    gap: 20px;
    margin-top:75px;


}
#Ecriture2 h1 {
    font-family: Georgia, 'Akrobat', Times, serif;
    font-size: x-large;
}
#Ecriture2 p {
    font-family: Georgia, 'Akrobat', Times, serif;
}
#Contacter {
    font-family: Georgia, 'Akrobat', Times, serif;
    font-size: large;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#Contacter1 {
    font-family: Georgia, 'Akrobat', Times, serif;
    font-size: large;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.btn-contact {
    font-family: Georgia, 'Akrobat', Times, serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a97a;
    width: 200px; 
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    border: none;       
    gap: 20px;
}
.btn-contact:hover {
    background-color: #074735;
}
                                         /*Partie Footer BAS*/
#lien_utile {
    display: flex;  
    justify-content: center;
    margin-left: 50px;
    gap: 100px;
    background-color: #00a9793c;
    font-family: Georgia, 'Akrobat', Times, serif;
    font-weight: 500;
    margin: 0;
}
.colonne li {
    gap: 100px;
    margin-bottom: 20px;
}
.colonne h4 {
    margin-bottom: 60px;
    margin-left: 37px;
    font-size: 20px;
    font-weight: 800;
}
#information {
    display: flex;  
    justify-content: center;
    margin-left: 50px;
    background-color: #00a9793c;
    margin: 0;
    list-style: none;
    font-weight: 800;
    
}
#barre_navigation {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 50px;

}
#barre_navigation li {
    display: inline-block;
    margin-right: 20px;
    font-family: Georgia, 'Akrobat', Times, serif;
}
li {
    list-style: none;
    display: flex;
}
                                         /*Partie Footer final*/
#parseval {
    display: inline-block;
    display: flex;
    justify-content: space-between;

}
#un {
    font-weight: 600;
    width: 400px;
    margin-left: 20px;
}
#deux {
    font-weight: 600;
    width: 400px;
    text-align: right;
    margin-right: 20px ; 
}

