#Logo img {
    width: 50px;
}
#Ecriture h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
#Ecriture p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Ecriture2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
#Ecriture2 p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Contacter {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: large;
     color: whitesmoke;
}
.btn-contact {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #00a97a;
    width: 200px; 
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    border: none;  
}
