#Reseaux_sociaux {
    background-color: #00a97a;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
#Logo img{  
    width: auto;  
}
#Logo {   
    display: flex;  
    align-items: center;         
    gap: 20px;
    background-color: #00a97a;
}
#LogoX img{
    width: 50px;
}
#Logo img:hover {
    transform: scale(1.05);
}
#LogoFacebook img{
    width: 50px   
}
#Ecriture h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
#Ecriture p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Ecriture2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
#Ecriture2 p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Contacter {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: whitesmoke;
    text-decoration: none;
}
.btn-contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a97a;
    width: 200px; 
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}
.btn-contact:hover {
    background-color: #074735;
}