#Logo img {
    width: 50px;
}
#Ecriture h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
#Ecriture p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}